{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal">
    <section class="conta">
        
      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Crie sua Conta</p>
        </div>
        {% if erro == "preenchimento" %}
            <p>Preencha todos os campos para criar uma conta</p>
        {% endif %}

        {% if erro == "Senhas diferentes" %}
            <p>Senha e Confirmação de senha não são compativeis, tente novamente</p>
        {% endif %}

        {% if erro == "Usuário existente" %}
            <p>Já existe um usuário com esse email, <a href="{% url 'fazer_login' %}">faça login</a></p>
        {% endif %}

        {% if erro == "email invalido" %}
            <p>Email invalido, tente novamente com outro email</p>
        {% endif %}
        <form
          class="conta__form"
          action="{% url 'criar_conta' %}"
          method="post"
        >
        {% csrf_token %}
          <div class="conta__item conta__item--email">
            <label for="email">E-mail</label>
            <input name="email" type="email" placeholder="Email" />
          </div>
          <div class="conta__item">
            <label for="senha">Senha</label>
            <input name="senha" type="password" placeholder="Senha" />
          </div>
          <div class="conta__item">
            <label for="confirmacao_senha">Confirmação da Senha</label>
            <input name="confirmacao_senha" type="password" placeholder="Senha" />
          </div>

          <button class="subtotal__botao" type="submit">
            Criar Conta
          </button>
        </form>
        <a href="{% url 'fazer_login' %}">Já tem uma conta? Fazer Login</a>
      </div>

    </section>
</main>
{% endblock %}